/*
* @Author: dhl
* @Date:   2017-10-21 10:35:33
* @Last Modified by:   dhl
* @Last Modified time: 2017-10-22 14:53:43
*/

/* 固定的样式 */
.center {
	width: 101px;
	height: 101px;
	position: fixed;
	right: 20px;
	top: 50px;
	z-index: 10;
}

.down {
	 width: 174px;
	 height: 61px;
	 position: fixed;
	 bottom: 50px;
	 right: 20px;
	 z-index: 10;

	 animation: down 1s linear infinite alternate;
}

/* 定义动画集 */
@keyframes down {
	from {
		bottom: 50px;
	}

	to {
       bottom: 70px;
	}
}


/* 第一屏样式 */
.screen01 {
	width: 100%;
	height: 100%;
	position: relative;
	background: url("../img/01-bg.png") no-repeat bottom;
}

.screen01 .fly {
	 width: 470px;
	 height: 50px;
	 position: absolute;
	 left: 50%;
	 transform: translate(-50%,50px);

	 animation: screen01_fly 1s linear infinite alternate;
}

@keyframes screen01_fly {
	 from {
			transform: translate(-50%,50px);
	 }
	 to {
		transform: translate(-50%,70px);
	 }
}

.screen01  .sofa {
     width: 134px;
     height: 147px;
     position: absolute;
     left: 50%;
     top: 150px;
     margin-left: -245px;
     animation: screen01_sofa 0.8s linear infinite alternate;
}

@keyframes screen01_sofa {
	 from {
			top: 150px;
	 }
	 to {
		   top: 170px;
	 }
}

.screen01 .goods {
	 width: 824px;
	 height: 274px;
	 position: absolute;
	 left: 50%;
	 bottom: 100px;
	 margin-left: -400px;
}


/* 第二屏样式 */
.screen02 {
	 width: 100%;
	 height: 100%;
	 position: relative;
	 background: url("../img/02-bg.png") no-repeat bottom;
}

.screen02 .text {
	width: 363px;
	height: 27px;
	position: absolute;
	left: 50%;
	top: 80px;
	transform: translate(-50%);
}

.screen02 .goods {
	 width: 441px;
	 height: 218px;
	 position: absolute;
	 left: 50%;
	 top: 230px;
	 transform-origin: right bottom;
	 transform: translate(-50%) scale(0);

}

.select  .screen02 .goods  {

  animation: screen02_goods 1s 3s linear forwards;

}

@keyframes screen02_goods {
	from {
		transform: translate(-50%) scale(0);
		
	}
	to {
 		transform: translate(-50%) scale(1);
	}
}

.screen02 .search {
	 width: 222px;
	 height: 45px;
	 position: absolute;
	 left: 50%;
	 top: 300px;
	 transform: translateX(380px);
	 opacity: 0;
}

.select .screen02 .search {
   
    animation: screen02_search 4s linear forwards;
}

@keyframes screen02_search {
	from {
		opacity: 0;
		transform: translateX(380px);
	}

	25% {
 		opacity: 1;
	    transform: translateX(-120px);
	}
	75% {
		opacity: 1;
	    transform: translateX(-120px);
	}
	to {
	   	opacity: 1;
	    transform: translateX(80px) translateY(-125px) scale(0.8);
	}
}
.screen02 .search img:last-child {
	 position: absolute;
	 left: 100px;
	 top: 3px;
	 opacity: 0;
}
.select .screen02 .search img:last-child {
   animation: screen02_img 1s 1.5s linear forwards;
}

@keyframes screen02_img {
	from{
       opacity: 0;
	}

	to {
		opacity: 1;
	}
}


/* 第二屏的隐藏的沙发 */
.screen02 .sofa_hide {
	 width: 207px;
	 height: 166px;
	 position: absolute;
	 left: 50%;
	 top: 194px;
	 transform: translate(-159px) scale(0.5);
	 opacity: 0;
}

/* 从第二屏到第三屏的动画效果 */
.screen02 .sofa_hide.animate {
   animation: screen02_to_screen03 1.5s linear forwards;
}
@keyframes screen02_to_screen03 {
	from {
	   opacity: 1;
	   transform: translate(-159px) scale(1);
	   top: 194px;
	   z-index: 10;
	}
	to {
	   opacity: 1;
	   transform: translate(-235px) scale(1);
	   top: 900px;
	   z-index: 10;
	}
}
/* 第三屏样式 */
.screen03 {
	 width: 100%;
	 height: 100%;
	 position: relative;
	 background: url("../img/03-bg.png") no-repeat bottom;
}

.screen03 .size {
	 width: 296px;
	 height: 131px;
	 position: absolute;
	 left: 50%;
	 top: 345px;
	 margin-left: 50px;
}

.screen03 .size img {
	 position: absolute;
}
.screen03 .size img:last-child {
	 display: none;
}


.screen03 .btns {
	 width: ;
	 height: ;
	 position: absolute;
	 left: 50%;
	 margin-left: 50px;
	 top: 480px;
}

.screen03 .btns img {
	 position: absolute;
}

.screen03 .btns img:last-child {
	 display: none;
}



/* 第三屏中隐藏的沙发 */
.screen03 .sofa_hide {

	 width: 204px;
	 height: 198px;
	 position: absolute;
	 left: 50%;
	 top: 230px;
	 margin-left: -235px;
	 opacity: 0;
}

/* 从第三屏到第4屏的动画 */
.screen03 .sofa_hide.animate {
   animation: screen03_to_screen04 1.5s linear;
}
@keyframes screen03_to_screen04 {
	from {
	    opacity: 1;
	    top: 230px;
	    z-index: 10;
	    margin-left: -235px;
	}
	to {
	   opacity: 1;
	   top: 846px;
	   z-index: 10;
	   margin-left: -55px;
	}
}


/* 第四屏样式 */
.screen04 {
	 width: 100%;
	 height: 100%;
	 position: relative;
	 background: url("../img/04-bg.png") no-repeat bottom;
}

.screen04 .cloud {
	 width: 882px;
	 height: 120px;
	 position: absolute;
	 left: 50%;
	 top: 10px;
	 margin-left: -600px;
}

.screen04 .cloud.animate {

	 animation: screen04_cloud 5s linear infinite alternate;
}

@keyframes screen04_cloud {
	 from {
		 margin-left: -600px;
	 }
	 to {
        margin-left: 100px;
	 }
}


.screen04 .text {
	 width: 429px;
	 height: 32px;
	 position: absolute;
	 left: 50%;
	 top: 100px;
	 transform: translate(-50%);
}

.screen04 .text img {
	 position: absolute;
}

.screen04 .text img:last-child {
	 display: none;
}


.screen04 .address {
	 width: 283px;
	 height: 270px;
	 position: absolute;
	 left: 50%;
	 top: 150px;
	 transform: translate(-50%);
	 display: none;

}

.screen04 .address img:last-child {
	 position: absolute;
	 left: 50%;
	 transform: translate(-50%);
	 top: 50px;
	 display: none;
}

.screen04 .cart {
	 width: 407px;
	 height: 346px;
	 position: absolute;
	 left: 50%;
	 bottom: 80px;
	 transform: translate(-50%);
	 z-index: 10;
	 transition: all 1s linear;
}

.screen04 .cart.animate{
	 transform: translate(800px);
}

.screen04 .cart img {
	 position: absolute;
}

.screen04 .cart img:first-child {
	 position: absolute;
	 left: 50%;
	 top: -50px;
	 margin-left: 50px;
	 transform: translate(-50%);
	 display: none;
}



/* 第五屏样式 */
.screen05 {
	width: 100%;
	height: 100%;
	position: relative;
	background: url("../img/05-bg.png");
}

.screen05  .text {
	 width: 541px;
	 height: 56px;
	 position: absolute;
	 left: 50%;
	 top: 100px;
	 margin-left: -600px;
}

.screen05 .card {
	 width: 358px;
	 height: 221px;
	 position: absolute;
	 left: 50%;
	 top: 260px;
	 margin-left: -600px;
}

.screen05 .card img {
	 position: absolute;
}


.screen05 .card .orderImg  {
	  left: 50%;
	  top: 0px;
	  transform: translate(-50%);
	  transition: all 1s 2.5s linear;
}
.select .screen05 .card .orderImg {
	 top: -70px;
}

.screen05 .card .sofaImg {
	  left: 50%;
	  bottom: -140px;
	  margin-left: -100px;
	  opacity: 0;
	  transform: translateY(-700px);
}

/* 沙发动画 */
.screen05 .card .sofaImg.animate{
   animation: screen05_sofa 3s linear forwards;
}

@keyframes screen05_sofa {
	from {
		opacity: 1;
		transform: translateY(-700px);
	}

	50%{
	   opacity: 1;
	   transform: translateY(-100px);
	}

	to {
		opacity: 1;
		transform: none;
	}
}



.screen05 .mouse {
	 width: 205px;
	 height: 100%;
	 position: absolute;
	 left: 50%;
	 margin-left: 200px;
	 overflow: hidden;
}
.screen05 .mouse img {
	 position: absolute;
}

.screen05 .mouse .mouse01Img,
.screen05 .mouse .mouse02Img  {
	bottom: 210px;
	left: 20px;
}

.screen05 .mouse .mouse02Img {
	 display: none;
}

.screen05 .mouse .handImg {
	 bottom: -375px;
	 transition: all 1s linear ;
}

.select .screen05 .mouse .handImg {
	bottom: 0px;
}


/* 第五屏隐藏沙发 */
.screen05 .sofa_hide {
	 position: absolute;
	 left: 50%;
	 margin-left: -600px;
	 bottom: 0px;
	 opacity: 0;
}

/* 从第五屏到第六屏的动画 */
.screen05 .sofa_hide.animate {
  
   animation: screen05_to_screen06 1.5s linear;
  
}
@keyframes screen05_to_screen06{
	from {
	   opacity: 1;
	   bottom: 0px;
	   z-index: 10;
	   margin-left: -600px;
	   transform: scale(1);
	}
	to {
	   opacity: 1;
	   bottom: -355px;
	   z-index: 10;
	   margin-left: -410px;
	   transform: scale(0.2);
	}
}

/* 第六屏的样式 */

.screen06 {
	 width: 100%;
	 height: 100%;
	 position: relative;
	 background: url("../img/06-bg.png") no-repeat bottom;

	 transition: all 1s linear 1s;
}

.select .screen06 {
    background-position: right bottom;
}



.screen06 .cloud {
	 width: 878px;
	 height: 107px;
	 position: absolute;
	 left: 50%;
	 margin-left: -600px;
}
.screen06 .cloud img {
	 position: absolute;
}

.screen06 .cloud.animate img:first-child {
	animation: screen06_cloud 8s linear infinite alternate;
}
.screen06 .cloud.animate img:last-child {
	animation: screen06_cloud 5s linear infinite alternate;	
}

@keyframes screen06_cloud {
	from{
		 margin-left: -300px;
	}
	to {
		 margin-left: 200px;
	}
}



/* 文字 */
.screen06 .text {
	 width: 308px;
	 height: 59px;
	 position: absolute;
	 left: 50%;
	 top: 110px;
	 margin-left: -400px;
}

.screen06 .text img {
	 position: absolute;
}

.screen06 .text img:last-child {
	 opacity: 0;
	 transition: all 1s 5s linear;
}

.select .screen06 .text img:last-child {
	 opacity: 1;
}

/* 小汽车 */
.screen06 .car {
	 width: 221px;
	 height: 122px;
	 position: absolute;
	 left: 50%;
	 margin-left: -400px;
	 bottom: 0px;
	 z-index: 11;
}


.screen06 .car img {
	 position: absolute;
	 bottom: 0px;
}

.screen06 .car .workerImg {
	bottom: 0px;
	left: 0px;
	transform-origin: left bottom;
	transform: scale(0);
	transition: transform 1s 1.5s linear,
				bottom 1s 2.5s linear,
				left 1s 3s linear;
}

.screen06 .car .workerImg.animate{
	 transform: scale(1);
	 bottom: 115px;
	 left: 220px;
}

.screen06 .car .sayImg {
	 opacity: 0;
	 left: 350px;
	 bottom: 400px;

	 transition: all 1s 5s linear;
}

.select .screen06 .car .sayImg {
	opacity: 1;
}




.screen06 .car .buyerImg,
.screen06 .car .addressImg
 {
	 position: absolute;
	 left: 150px;
	 top: -60px;
}
.screen06 .car .addressImg {
	 opacity: 0;

	 transition: all 1s 1s linear;
}


.select .screen06 .car .addressImg {
	opacity: 1;
}



/* 包裹 */
.screen06 .package {
	 width: 123px;
	 height: 85px;
	 position: absolute;
	 left: 50%;
	 top: 200px;

	 /* 开始的默认位置 */
	 margin-left: -900px;
	 /* 动画水平要移动到的位置 */
	 /* margin-left: -370px; */
	 z-index: 10;
	 transition: margin-left 1.2s linear,

	 		     top 1s 1.5s linear,

	 		     transform 1s 1.5s linear;
}

.screen06 .package.animate{
	 margin-left: -380px;
	 top: 550px;
	 transform: scale(0.3);

}


.screen06  .person {
	 width: 106px;
	 height: 150px;
	 position: absolute;
	 left: 50%;
	 margin-left: 293px;
	 bottom: 116px;
	 opacity: 0;
	 transition: all 1s 6s linear;
}

.select .screen06 .person {
	 opacity: 1;
}

.screen06  .person img {
	 position: absolute;
}

.screen06  .person img:last-child {
	 transform-origin: right bottom;
	 transform: scale(0);
	 right: 0px;
	 bottom:0px;
	 transition: transform 1s linear 6.5s,
	 		     right 1s linear 6.5s;
}
.select .screen06  .person img:last-child {
	 transform: scale(1);
	 right: 200px;
}


/* 第七屏 */
.screen07 {
   width:100%;
   height: 100%;
   position: relative;
   background: url("../img/07_bg.png") no-repeat bottom;
}
.screen07 .start {
	 width: 100px;
	 height: 13px;
	 position: absolute;
	 left: 50%;
	 top: 204px;
	 margin-left: -293px;
}

.screen07 .start img {
	 float: left;
	 margin-right: 6px;
	 opacity: 0;
}

.select .screen07 .start img:nth-child(1){
	 animation: screen07_start 0.5s linear forwards;
}
.select .screen07 .start img:nth-child(2){
	 animation: screen07_start 0.5s 0.5s linear forwards;
}

.select .screen07 .start img:nth-child(3){
	 animation: screen07_start 0.5s 1s linear forwards;
}

.select .screen07 .start img:nth-child(4){
	 animation: screen07_start 0.5s 1.5s linear forwards;
}

.select .screen07 .start img:nth-child(5){
	 animation: screen07_start 0.5s 2s linear forwards;
}

@keyframes screen07_start {
	 from {
	 	opacity: 0;
	 }
	 to {
	 	opacity: 1;
	 }
}





.screen07 .text {
	 width: 72px;
	 height: 40px;
	 position: absolute;
	 left: 50%;
	 top: 240px;
	 margin-left: -293px;
	 transform-origin: left bottom;
	 transform: scale(0);
}

.select .screen07 .text {

   animation: screen07_text 3s 2s linear forwards ;
}

@keyframes screen07_text {
	 form {
		 transform: scale(0);
	 }

	 75%{
		 transform: scale(1);
	 }

	 to {
		 transform: scale(0.8);
	 }
}



/* 第八屏 */
.screen08 {
	 width: 100%;
	 height: 100%;
	 position: relative;
	 background: url("../img/08-bg.png");
}


.screen08 .btns {
	 width: 389px;
	 height: 160px;
	 position: absolute;
	 left: 50%;
	 top: 100px;
	 transform: translate(-50%);
}

.screen08 .btns img {
	 position: absolute;
}

.screen08 .btns img:last-child {

	 display: none;
}



.screen08 .more {
	 width: 105px;
	 height: 34px;
	 position: absolute;
	 left: 50%;
	 margin-left: 300px;
	 top: 150px;
}

.screen08 .hand {
	width: 170px;
	height: 449px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	transform: translate(-50%);
}