/*
* @Author: dhl
* @Date:   2017-10-23 09:32:15
* @Last Modified by:   dhl
* @Last Modified time: 2017-10-23 11:31:09
*/

/* 初始化部分 */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd {
	margin:0;
	padding:0;
	list-style: none;
	font-size: 18px;
	font-family: "宋体";
	color: #000;
}

a {
	text-decoration: none;
	color: #000;
}

/* 版心部分 */
.w {
	width: 1080px;
	margin: 0 auto;
}


/* 导航部分开始 */
.nav {
	 height: 150px;
	 background: url(../img/nav_bg.png);
	 width: 100%;
	 position: absolute;
	 left: 0px;
	 top: 0px;
}

.nav .left {
	float: left;
}

.nav .left .logo {
	width: 93px;
	height: 44px;
	background: url("../img/nav_brand.png") no-repeat;
	display: block;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}
.nav .left ul,
.nav .left li{
	float: left;
}

.nav .left li {
	height: 80px;
	line-height: 80px;
}
.nav .left li a {
	 padding: 0 20px;
	 display: block;
	 text-shadow: 0px 0px 3px #000;
}
.nav .left li a:hover {
	background-color: #12b7f5;
}

/* 右侧列表 */
.nav .right {
	float: right;
}

.nav .right .regist {
	 width: 96px;
	 height: 36px;
	 border-radius: 18px;
	 background-color: #12b7f5;
	 text-align: center;
	 line-height: 36px;
	 display: block;
	 float: left;
	 margin-top: 20px;
	 margin-right: 30px;
}

.nav .right .nav_item,
.nav .right .nav_item li {
	 float:left;
}
.nav .right .nav_item li {
	 padding-top: 30px;
	 padding-left: 20px;
	 padding-bottom: 15px;
}



/* 办公 */
.work {
	width: 100%;
	height: 965px;
	padding-top: 150px;
	background: url("../img/banner-bg.jpg") no-repeat bottom;
	box-sizing: border-box;
}
.work .logoImg,
.work .downloadImg,
.work .listImg {
	 display: block;
	 margin: 15px auto;
}
.productImg {
	 width: 100%;
}

/* 沟通 */
.Communicate {
  width: 100%;
}

.Communicate .top_title {
    width: 100%;
    height: 321px;
    background: url("../img/sound-text.png") no-repeat top;
    text-indent: -2000em;
}
.Communicate .bg {
	 width: 100%;
	 height: 600px;
	 background: url("../img/sound-bg.jpg") no-repeat top;
	 background-size: cover;

	 background-attachment: fixed;
}
.Communicate .content {
	 width: 980px;
	 height: 500px;
	 margin: 0 auto;
	 position: relative;
}

.Communicate .phone {
	 width: 664px;
	 height: 670px;
	 background: url("../img/sound-phone.png") no-repeat;
	 position: absolute;
	 bottom: 0px;
}

.Communicate .title {
	 float: right;
	 width: 600px;
	 font-size: 40px;
	 font-weight: 700;
	 font-family: "微软雅黑";
	 text-align: right;
}

.Communicate .p_text {
	 float: right;
	 margin-top: 30px;
	 text-align: right;
	 font-size: 20px;
	 font-weight: 700;
	 text-shadow: 0 0 5px #999;
}

/* 文件 */
.file {
	width: 100%;
}

.file .bg {
	 width: 100%;
	 height: 670px;
	 background: url("../img/file-bg.jpg") no-repeat top;
	 background-size: cover;

	  background-attachment: fixed;
}

.file .content {
	  width: 980px;
	  height: 500px;
	  margin: 0 auto;
	  position: relative;
}

.file .content .title {
	 float: left;
	 width: 700px;
	 font-size: 40px;
	 font-family: "微软雅黑";
	 font-weight: 700;
	 padding-top: 100px;
}

.file .content .p_text {
	 float: left;
	 margin-top: 50px;
	 font-size: 20px;
	 font-family: "微软雅黑";
	 text-shadow: 0 0 3px #999;
}

.file .content .compute {
	 width: 597px;
	 height: 330px;
	 background: url("../img/file-mac.png") no-repeat;
	 position: absolute;
	 right: -100px;
	 top: 100px;

}



/* 活动 */
.activi {
	 width: 100%;
}

.activi .bg {
	  width: 100%;
	  height: 670px;
	  background: url("../img/interest-bg.jpg") no-repeat top;
	  background-size: cover;

	   background-attachment: fixed;
}

.activi .content {
	  width: 980px;
	  height: 510px;
	  margin: 0 auto;
	  position: relative;
}

.activi .content  .iphone {
	  width: 344px;
	  height: 506px;
	  background: url("../img/interest-phone.png") no-repeat;
	  position: absolute;
	  left: 0;
	  top: 0;
}

.activi .content .title {
	 float: right;
	 text-align: right;
	 width: 800px;
	 font-size: 40px;
	 font-family: "微软雅黑";
	 font-weight: 600;
	 margin-top: 100px;
}

.activi .content .p_text {
	 float: right;
	 text-align: right;
	 margin-top: 100px;
	 font-size: 20px;
	 font-family: "微软雅黑";
	 font-weight: 700;
	 text-shadow: 0 0 3px #999;
}


/* 结尾 */
.footer {
	 width: 100%;
	 height: 300px;
	 background-color: #000;
}

.footer .center {
	 width: 980px;
	 margin: 0 auto;
}

.footer .center ul {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.footer .center li {
	float: left;
}
.footer .center a {
	  color: #fff;
	  display: block;
	  padding: 55px 10px;
	  position: relative;
}

.footer .center .phone:before {
	 content: "";
	 width: 25px;
	 height: 50px;
	 display: block;
	 position: absolute;
	 left: 50%;
	 top: 0px;
	 transform: translate(-50%);
	 background: url("../img/footer.png") no-repeat -25px 0px;
}

.footer .center .pc:before {
	 content: "";
	 height: 50px;
	 width: 42px;
	 display: block;
	 position: absolute;
	 left: 50%;
	 transform: translate(-50%);
	 top: 0px;
	 background: url("../img/footer.png") no-repeat -125px 0px;
}



.footer .center .Mac:before {
	 content: "";
	 height: 50px;
	 width: 42px;
	 display: block;
	 position: absolute;
	 left: 50%;
	 transform: translate(-50%);
	 top: 0px;
	 background: url("../img/footer.png") no-repeat -233px 0px;
}


.footer .center .Pad:before {
	 content: "";
	 height: 50px;
	 width: 65px;
	 display: block;
	 position: absolute;
	 left: 50%;
	 transform: translate(-50%);
	 top: 0px;
	 background: url("../img/footer.png") no-repeat right 0px;
}

.footer .center p {
	 text-align: center;
	 color: #fff;
}
